<section class=" contact about d-flex align-items-center justify-content-center flex-column pb-5">
    <h2 class=" text-center text-uppercase fw-bolder pt-5">{{heading}}</h2>
 <i class="fa-solid fa-star star fs-4 mt-2"></i>
 <form action="" class="container mt-4">
    <div class="w-75 mx-auto mb-4 ">
        <label  class="text-capitalize fw-bolder fs-4">name</label>
        <input type="text" class="form-control ">
    </div>
    <div class="w-75 mx-auto mb-4">
        <label  class="text-capitalize fw-bolder fs-4">age</label>
        <input type="number" class="form-control ">
    </div>
    <div class="w-75 mx-auto mb-4">
        <label  class="text-capitalize fw-bolder fs-4">phone</label>
        <input type="number" class="form-control ">
    </div>
    <div class="w-75 mx-auto mb-4">
        <label  class="text-capitalize fw-bolder fs-4">email</label>
        <input type="email" class="form-control ">
    </div>
    <div class="w-75 mx-auto mb-4">
        <label  class="text-capitalize fw-bolder fs-4">password</label>
        <input type="password" class="form-control ">
    </div>
    <button class="btn btn-info text-capitalize text-white px-3 py-3 mt-2"> send</button>
 </form>
</section>
