/* You can add global styles to this file, and also import other style files */
body
{
    font-family: 'Montserrat', sans-serif;
}
:root{
    --mainColor:#1abc9c;
    --secondColor: #2c3e50;
}
router-outlet + * ,
router-outlet + * > 
.hi{
   min-height: inherit;
}